@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap");

* {
    padding: 0;
    margin: 0;
}

*,
:after,
:before {
    border: 0 solid #e2e8f0;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

header {
    border-top: 12px solid #48bb78;
}

.container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
}

.left {
    flex-grow: 3;
    align-self: center;
}

.right {
    flex-grow: 1;
    vertical-align: top;
}

footer {
    background-color: #242424;
    padding: 25px;
    color: #fff;
}

footer p {
    color: #949494;
}

main svg {
    height: 14px;
}

footer svg {
    height: 32px;
}

[class^="icon"] {
    margin: 0 5px;
}

footer [class^="icon"] svg {
    fill: #fff;
}

nav {
    margin-top: 3px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
   display: inline;
   list-style-type: none;
   /* margin-right: 20px; */
}

nav ul a {
   font-size: 18px;
   font-weight: bold;
   text-decoration: none;
   color: #2d3748e5;
   transition: .2s ease-in;
   padding: 0 15px;
}

nav ul a:hover {
   color: #48bb78;
   transition: .2s ease-in;
}

nav img {
    width: 4rem;
    transition: .2s ease-in;
}
nav img:hover {
    transform: scale(1.1);
    transition: .2s ease;
}

#name {
    color: #48bb78;
}

#home {
    padding: 40px 0;
    padding-top: 60px;
}

#home .left {
    font-size: 28px;
}

#home .left h3 {
    color: #2e2e2e;
}

#home .left h5 {
    color: #424242;
    margin-bottom: 15px;
}

#home .right img {
    height: 294px;
    border-radius: 50%;
    box-shadow: 19px 12px 0 2px #2cd084;
}

button {
    font-size: 18px;
    width: 160px;
    height: 40px;
    color: white;
    background-color: #2cd084;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    transition: .2s ease-in;
}

button:hover {
    color: #2cd084;
    border: 2px solid #2cd084;
    background-color: transparent;
    transition: .2s ease-out;
}