@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap");

* {
    padding: 0;
    margin: 0;
}

*,
:after,
:before {
    border: 0 solid #e2e8f0;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

header {
    border-top: 12px solid #48bb78;
}

.container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
}

.left {
    flex-grow: 3;
    align-self: center;
}

.right {
    flex-grow: 1;
    vertical-align: top;
}

footer {
    background-color: #242424;
    padding: 25px;
    color: #fff;
}

footer p {
    color: #949494;
}

main svg {
    height: 14px;
}

footer svg {
    height: 32px;
}

[class^="icon"] {
    margin: 0 5px;
}

footer [class^="icon"] svg {
    fill: #fff;
}